body{
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0;
}

.card{
    width: 1150px; 
    margin: 90px auto;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
}
.judul-home{
    font-size: 30px; 
    font-family: Arial, Helvetica, 
    sans-seri8;
}
.paragraf-home{
    text-align: justify; 
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.button-home{
    display: flex; 
    margin-top: 80px;
}
.button-contact-home{
    width: 80px; 
    margin-right: 25px; 
    height: 25px;
    border-radius: 7px; 
    color: white; 
    background-color: black;
    font-weight: bold;
    border: none;
}
.button-contact-home:hover{
    background-color: orangered;
}
.icon-home{
    display: flex; 
    justify-content: start; 
    padding: 5px; 
    margin-top: 50px;
}
.left{
    flex: 50%;
}
.right{
    display: flex; 
    justify-content: end; 
    margin-top: 20px; 
    flex: 50%;
    
}
.card-image{
    background: white; 
    box-shadow: 0 0 10px; 
    width: 65%;
    margin-bottom: 10px;
    border-radius: 15px;
}




/* navbar */

nav{
    display: flex;
    background-color: lightgrey;
    border: 1px solid grey;
}
nav ul{
    display: flex;
}
nav ul li {
    display: flex;
}
nav ul li a{
    text-decoration: none;
    list-style-type: none;
    margin-right: 40px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    white-space: nowrap;
}
.nav-left{
    display: flex;
    flex: 70px;
    align-items: center;
}
.nav-right{
    display: flex;
    justify-content: end;
}
.nav-right li a{
    display: flex;
    background-color: black;
    color: white;
    padding: 4px 4px;
    border-radius: 5px;
}
.active{
    color: orangered;
}

/* BARS MENU */
.hamburger-nav-container{
    font-size: 23px;
    list-style-type: none;
    display: none;
}
.hamburger-nav-container a{
    text-decoration: none;
  color: #fff;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
  font-weight: bold;
}
.hamburger-nav-container .hamburger-active{
    text-decoration: none;
    color: #fff;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #fff;
    font-weight: bold;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#barsmenu{
    margin-right: 15px;
    display: none;
}



/* RESPONSIVE LAY OUT */

@media only screen and (max-width: 900px) {
    body {
        max-width: 100%;
    }
    section {
        flex-direction: column-reverse;
        align-items: center; 
        width: 100%;
    }
    .left, .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .left {
        order: 2; /* Mengatur posisi "left" di atas "right" */
    }
    .right {
        order: 1; /* Mengatur posisi "right" di bawah "left" */
    }
    
    .card {
        max-width: 75%;
    }
    .card-image {
        order: 3; /* Mengatur posisi gambar di bawah konten */
        margin-top: 20px;
    }
   
    .items-collapse{
        display: none;
    }
    .icon-home{
        margin-left: 10px;
    }
    #barsmenu{
        display: block;
    }

}

@media only screen and (max-width: 550px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
    .nav-left {
        display: flex;
        align-items: center;
    }
    .nav-right {
        /* display: none; */
    }
    .card {
        max-width: 75%;
    }
    section {
        width: 100%;
        align-items: center;
    }
    .left, .right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .left {
        order: 2; /* Mengatur posisi "left" di atas "right" */
    }
    .right {
        order: 1; /* Mengatur posisi "right" di bawah "left" */
    }

    .right div {
        margin-left: 0;
    }
    .items-collapse {
        display: none;
    }
    .hamburger-nav-container {
        display: none;
        position: absolute;
        top: 70px;
        
        left: 0;
        width: 100%;
        background-color: transparent;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }
    .hamburger-nav-container a {
        display: block;
        padding: 10px;
        text-align: center;
        color: black;
        text-decoration: none;
        bottom: 50px;
        
    }
    .hamburger-active {
        background-color: #f1f1f1;
    }
    .card-image {
        order: 3; /* Mengatur posisi gambar di bawah konten */
        margin-top: 20px;
    }
    #barsmenu{
        display: block;
    }



    /* RESPONSIVE PROJECT */

    
}
